<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from template.hasthemes.com/virtuf/virtuf/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 31 Dec 2021 20:05:01 GMT -->
<%- include('comm/meta') -%>

<body>

<!--wrapper start-->
<div class="wrapper blog-page-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
  	<div class="preloader">
	    <span class="dot"></span>
	    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
	    </div>
  	</div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
  <%- include('comm/short-header') -%>

  <main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area" data-bg-img="assets/img/photos/bg-page-title.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content">
              <h2 class="title text-white">Blog Post</h2>
              <div class="bread-crumbs"><img class="line-shape" src="assets/img/shape/line-s3.png" alt="Virtuf-HasTech"><a href="index.html">Home<span class="breadcrumb-sep">//</span></a><span class="active">Blog</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-sidebar" data-aos="fade-right" data-aos-duration="1100">
        <div class="social-icon">
          <a href="#/"><i class="icofont-facebook"></i></a>
          <a href="#/"><i class="icofont-skype"></i></a>
          <a href="#/"><i class="icofont-twitter"></i></a>
        </div>
      </div>
      <div class="layer-shape">
        <img class="layer-shape-one" src="assets/img/shape/1.png" alt="Virtuf-Image">
        <img class="layer-shape-two" src="assets/img/shape/4.png" alt="Virtuf-Image">
        <img class="layer-shape-three" src="assets/img/shape/5.png" alt="Virtuf-Image">
        <img class="layer-shape-four" src="assets/img/shape/3.png" alt="Virtuf-Image">
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-grid-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="blog-content-column">
              <div class="blog-content-area post-items-style2">
                <!--== Start Blog Post Item ==-->
                <div class="post-item" data-aos="fade-up" data-aos-duration="1000">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/b1.jpg" alt="Virtuf-Blog"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a class="post-date" href="blog.html">06-Jan-2021</a>
                      <a class="post-comment" href="blog.html"><i class="icofont-speech-comments"></i> 2,538</a>
                      <a class="post-like" href="blog.html"><i class="icofont-heart"></i> 789</a>
                      <a class="post-author" href="blog.html"><i class="icofont-user-alt-7"></i> Alvin Malone</a>
                    </div>
                    <h4 class="title">
                      <a href="blog-details.html">Finding The Best Business Solution.</a>
                    </h4>
                    <div class="separator-line">
                      <img class="me-1" src="assets/img/shape/line-s2.png" alt="Virtuf-HasTech">
                      <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                    </div>
                    <p>Lorem Ipsum is simply dummy text the printing and typesetting industry lorem ipsum has industry' standard dummy text ever since the 1500s, whean an unknown printer took galle scrambled it to make a type specimen.</p>
                    <a href="blog-details.html" class="btn btn-theme btn-border btn-gray">Read More <i class="icon icofont-long-arrow-right"></i></a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->

                <!--== Start Blog Post Item ==-->
                <div class="post-item" data-aos="fade-up" data-aos-duration="1000">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/b2.jpg" alt="Virtuf-Blog"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a class="post-date" href="blog.html">06-Jan-2021</a>
                      <a class="post-comment" href="blog.html"><i class="icofont-speech-comments"></i> 2,538</a>
                      <a class="post-like" href="blog.html"><i class="icofont-heart"></i> 789</a>
                      <a class="post-author" href="blog.html"><i class="icofont-user-alt-7"></i> Alvin Malone</a>
                    </div>
                    <h4 class="title">
                      <a href="blog-details.html">Finding The Best Business Solution.</a>
                    </h4>
                    <div class="separator-line">
                      <img class="me-1" src="assets/img/shape/line-s2.png" alt="Virtuf-HasTech">
                      <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                    </div>
                    <p>Lorem Ipsum is simply dummy text the printing and typesetting industry lorem ipsum has industry' standard dummy text ever since the 1500s, whean an unknown printer took galle scrambled it to make a type specimen.</p>
                    <a href="blog-details.html" class="btn btn-theme btn-border btn-gray">Read More <i class="icon icofont-long-arrow-right"></i></a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->

                <!--== Start Blog Post Item ==-->
                <div class="post-item" data-aos="fade-up" data-aos-duration="1000">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/b3.jpg" alt="Virtuf-Blog"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a class="post-date" href="blog.html">06-Jan-2021</a>
                      <a class="post-comment" href="blog.html"><i class="icofont-speech-comments"></i> 2,538</a>
                      <a class="post-like" href="blog.html"><i class="icofont-heart"></i> 789</a>
                      <a class="post-author" href="blog.html"><i class="icofont-user-alt-7"></i> Alvin Malone</a>
                    </div>
                    <h4 class="title">
                      <a href="blog-details.html">Finding The Best Business Solution.</a>
                    </h4>
                    <div class="separator-line">
                      <img class="me-1" src="assets/img/shape/line-s2.png" alt="Virtuf-HasTech">
                      <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                    </div>
                    <p>Lorem Ipsum is simply dummy text the printing and typesetting industry lorem ipsum has industry' standard dummy text ever since the 1500s, whean an unknown printer took galle scrambled it to make a type specimen.</p>
                    <a href="blog-details.html" class="btn btn-theme btn-border btn-gray">Read More <i class="icon icofont-long-arrow-right"></i></a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->

                <!--== Start Blog Post Item ==-->
                <div class="post-item" data-aos="fade-up" data-aos-duration="1000">
                  <div class="thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/b4.jpg" alt="Virtuf-Blog"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a class="post-date" href="blog.html">06-Jan-2021</a>
                      <a class="post-comment" href="blog.html"><i class="icofont-speech-comments"></i> 2,538</a>
                      <a class="post-like" href="blog.html"><i class="icofont-heart"></i> 789</a>
                      <a class="post-author" href="blog.html"><i class="icofont-user-alt-7"></i> Alvin Malone</a>
                    </div>
                    <h4 class="title">
                      <a href="blog-details.html">Finding The Best Business Solution.</a>
                    </h4>
                    <div class="separator-line">
                      <img class="me-1" src="assets/img/shape/line-s2.png" alt="Virtuf-HasTech">
                      <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                    </div>
                    <p>Lorem Ipsum is simply dummy text the printing and typesetting industry lorem ipsum has industry' standard dummy text ever since the 1500s, whean an unknown printer took galle scrambled it to make a type specimen.</p>
                    <a href="blog-details.html" class="btn btn-theme btn-border btn-gray">Read More <i class="icon icofont-long-arrow-right"></i></a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->

                <div class="pagination-area text-center pt-10 pb-60" data-aos="fade-up" data-aos-duration="1000">
                  <nav>
                    <ul class="page-numbers">
                      <li>
                        <a class="page-number" href="#">1</a>
                      </li>
                      <li>
                        <a class="page-number" href="#">2</a>
                      </li>
                      <li>
                        <a class="page-number" href="#">3</a>
                      </li>
                      <li>
                        <a class="page-number next" href="#">
                          <i class="icofont-double-right"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="sidebar-area">
                <div class="widget" data-aos="fade-up" data-aos-duration="1000">
                  <div class="widget-search-box">
                    <form action="#" method="post">
                      <div class="form-input-item">
                        <label for="search2" class="sr-only">Search Here</label>
                        <input type="text" id="search2" placeholder="Search Here">
                        <button type="submit" class="btn-src">
                          <i class="icofont-search-2"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="widget" data-aos="fade-up" data-aos-duration="1000">
                  <h3 class="widget-title">Post Category</h3>
                  <div class="separator-line">
                    <img class="me-1" src="assets/img/shape/line-s2.png" alt="Image-HasTech">
                    <img src="assets/img/shape/line-s1.png" alt="Image-HasTech">
                  </div>
                  <div class="widget-category">
                    <a href="services.html"><i class="icofont-double-right"></i> Business Management</a>
                    <a href="services.html"><i class="icofont-double-right"></i> Web Development</a>
                    <a href="services.html"><i class="icofont-double-right"></i> Digital Marketing</a>
                    <a href="services.html"><i class="icofont-double-right"></i> User Interface Design</a>
                  </div>
                </div>
                <div class="widget p-0" data-aos="fade-up" data-aos-duration="1000">
                  <div class="widget-video">
                    <div class="thumb">
                      <img src="assets/img/photos/sidebar-video1.jpg" alt="Image-HasTech">
                    </div>
                    <a class="btn-play play-video-popup" href="https://player.vimeo.com/video/174392490?dnt=1&amp;app_id=122963"><span class="icon"><img src="assets/img/icons/play.png" alt="Virtuf-HasTech"></span></a>
                  </div>
                </div>
                <div class="widget" data-aos="fade-up" data-aos-duration="1000">
                  <h3 class="widget-title">Share Now.</h3>
                  <div class="separator-line">
                    <img class="me-1" src="assets/img/shape/line-s2.png" alt="Image-HasTech">
                    <img src="assets/img/shape/line-s1.png" alt="Image-HasTech">
                  </div>
                  <div class="widget-social">
                    <div class="social-item">
                      <div class="icon"><span><i class="icofont-facebook"></i></span></div>
                      <div>Facebook</div>
                      <a href="#/"></a>
                    </div>
                    <div class="social-item social-skype">
                      <div class="icon"><span><i class="icofont-skype"></i></span></div>
                      <div>Skype</div>
                      <a href="#/"></a>
                    </div>
                    <div class="social-item social-instagram">
                      <div class="icon"><span><i class="icofont-instagram"></i></span></div>
                      <div>Instagram</div>
                      <a href="#/"></a>
                    </div>
                  </div>
                </div>
                <div class="widget pb-30" data-aos="fade-up" data-aos-duration="1000">
                  <h3 class="widget-title">Recent Post</h3>
                  <div class="separator-line">
                    <img class="me-1" src="assets/img/shape/line-s2.png" alt="Image-HasTech">
                    <img src="assets/img/shape/line-s1.png" alt="Image-HasTech">
                  </div>
                  <div class="widget-blog-post">
                    <ul>
                      <li>
                        <div class="thumb">
                          <a href="blog-details.html"><img src="assets/img/blog/s1.jpg" alt="Image-HasTech"></a>
                        </div>
                        <div class="content">
                          <a href="blog-details.html">Make type specimen book only five.</a>
                          <span><i class="icofont-ui-calendar"></i> 07.Jan.2021</span>
                        </div>
                      </li>
                      <li>
                        <div class="thumb">
                          <a href="blog-details.html"><img src="assets/img/blog/s2.jpg" alt="Image-HasTech"></a>
                        </div>
                        <div class="content">
                          <a href="blog-details.html">Make type specimen book only five.</a>
                          <span><i class="icofont-ui-calendar"></i> 07.Jan.2020</span>
                        </div>
                      </li>
                      <li>
                        <div class="thumb">
                          <a href="blog-details.html"><img src="assets/img/blog/s3.jpg" alt="Image-HasTech"></a>
                        </div>
                        <div class="content">
                          <a href="blog-details.html">Make type specimen book only five.</a>
                          <span><i class="icofont-ui-calendar"></i> 07.Jan.2020</span>
                        </div>
                      </li>
                      <li>
                        <div class="thumb">
                          <a href="blog-details.html"><img src="assets/img/blog/s4.jpg" alt="Image-HasTech"></a>
                        </div>
                        <div class="content">
                          <a href="blog-details.html">Make type specimen book only five.</a>
                          <span><i class="icofont-ui-calendar"></i> 07.Jan.2020</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="widget mb-0 pb-27" data-aos="fade-up" data-aos-duration="1000">
                  <h3 class="widget-title">Popular Tags</h3>
                  <div class="separator-line">
                    <img class="me-1" src="assets/img/shape/line-s2.png" alt="Image-HasTech">
                    <img src="assets/img/shape/line-s1.png" alt="Image-HasTech">
                  </div>
                  <div class="widget-tags">
                    <ul>
                      <li><a href="#/">Business</a></li>
                      <li><a href="#/">Marketing</a></li>
                      <li><a class="style2" href="#/">Consulting</a></li>
                      <li><a class="style2" href="#/">User Interface</a></li>
                      <li><a href="#/">Corporate</a></li>
                      <li><a href="#/">Agency</a></li>
                      <li><a class="style2" href="#/">Gardening</a></li>
                      <li><a class="style2" href="#/">Industry</a></li>
                      <li><a href="#/">Minimal</a></li>
                      <li><a href="#/">Unique</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->

    <!--== Start Contact Divider Area ==-->
    <section class="contact-divider-area" data-bg-color="#f6f7fc">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-9 col-lg-8">
            <div class="contact-divider-content" data-aos="fade-up" data-aos-duration="1100">
              <div class="section-title">
                <div class="subtitle-content">
                  <img src="assets/img/shape/line1.png" alt="Virtuf-HasTech">
                  <h5>Contact Us.</h5>
                </div>
                <h2 class="title">Contact Us For Any Information of <span class="bottom-style">Company.</span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-4 sm-text-start text-end">
            <a href="contact.html" class="btn btn-theme" data-aos="fade-up" data-aos-duration="1100">Contact Now <i class="icon icofont-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="layer-shape">
        <img class="shape-style1" src="assets/img/shape/15.png" alt="Image-HasTech">
      </div>
    </section>
    <!--== End Contact Divider Area ==-->
  </main>
  <%- include('comm/footer') -%>