<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from template.hasthemes.com/virtuf/virtuf/portfolio.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 31 Dec 2021 20:04:54 GMT -->
<%- include('comm/meta') -%>

<body>

<!--wrapper start-->
<div class="wrapper portfolio-page-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
  	<div class="preloader">
	    <span class="dot"></span>
	    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
	    </div>
  	</div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
  
<%- include('comm/short-header') -%>

  <main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area" data-bg-img="assets/img/photos/bg-page-title.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content">
              <h2 class="title text-white">Projects</h2>
              <div class="bread-crumbs"><img class="line-shape" src="assets/img/shape/line-s3.png" alt="Virtuf-HasTech"><a href="index.html">Home<span class="breadcrumb-sep">//</span></a><span class="active">Projects</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-sidebar" data-aos="fade-right" data-aos-duration="1100">
        <div class="social-icon">
          <a href="#/"><i class="icofont-facebook"></i></a>
          <a href="#/"><i class="icofont-skype"></i></a>
          <a href="#/"><i class="icofont-twitter"></i></a>
        </div>
      </div>
      <div class="layer-shape">
        <img class="layer-shape-one" src="assets/img/shape/1.png" alt="Virtuf-Image">
        <img class="layer-shape-two" src="assets/img/shape/4.png" alt="Virtuf-Image">
        <img class="layer-shape-three" src="assets/img/shape/5.png" alt="Virtuf-Image">
        <img class="layer-shape-four" src="assets/img/shape/3.png" alt="Virtuf-Image">
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Portfolio Area ==-->
    <section class="portfolio-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
              <div class="portfolio-filter-menu mb-0">
                <button class="active" data-filter="*">All ProjectS</button>
                <button data-filter=".filterBusiness">Business</button>
                <button data-filter=".filterMarketing">Marketing</button>
                <button data-filter=".filterConsulting"> Consulting</button>
                <button data-filter=".digitalMarketing">Digital Marketing</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row portfolio-grid gutter-50" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-md-6 col-sm-12 portfolio-item">
            <div class="inner-content">
              <div class="thumb">
                <a href="portfolio-details.html"><img src="assets/img/portfolio/1.jpg" alt="Virtuf-Portfolio"/></a>
              </div>
              <div class="portfolio-info">
                <div class="content">                    
                  <img class="shape-line-img" src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                  <h3 class="title"><a href="portfolio-details.html">Business Management</a></h3>
                  <a href="portfolio-details.html" class="category">Business / Marketing</a>
                </div>
                <a class="btn-icon" href="portfolio-details.html"><i class="icofont-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 portfolio-item filterBusiness filterConsulting">
            <div class="inner-content">
              <div class="thumb">
                <a href="portfolio-details.html"><img src="assets/img/portfolio/2.jpg" alt="Virtuf-Portfolio"/></a>
              </div>
              <div class="portfolio-info">
                <div class="content">                    
                  <img class="shape-line-img" src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                  <h3 class="title"><a href="portfolio-details.html">Market Statics & Analysis.</a></h3>
                  <a href="portfolio-details.html" class="category">Business / Marketing</a>
                </div>
                <a class="btn-icon" href="portfolio-details.html"><i class="icofont-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 portfolio-item filterBusiness digitalMarketing">
            <div class="inner-content">
              <div class="thumb">
                <a href="portfolio-details.html"><img src="assets/img/portfolio/3.jpg" alt="Virtuf-Portfolio"/></a>
              </div>
              <div class="portfolio-info">
                <div class="content">                    
                  <img class="shape-line-img" src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                  <h3 class="title"><a href="portfolio-details.html">Digital Marketing</a></h3>
                  <a href="portfolio-details.html" class="category">Business / Marketing</a>
                </div>
                <a class="btn-icon" href="portfolio-details.html"><i class="icofont-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 portfolio-item filterBusiness filterConsulting">
            <div class="inner-content">
              <div class="thumb">
                <a href="portfolio-details.html"><img src="assets/img/portfolio/4.jpg" alt="Virtuf-Portfolio"/></a>
              </div>
              <div class="portfolio-info">
                <div class="content">                    
                  <img class="shape-line-img" src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                  <h3 class="title"><a href="portfolio-details.html">Business Consultation</a></h3>
                  <a href="portfolio-details.html" class="category">Business / Marketing</a>
                </div>
                <a class="btn-icon" href="portfolio-details.html"><i class="icofont-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 portfolio-item filterMarketing">
            <div class="inner-content">
              <div class="thumb">
                <a href="portfolio-details.html"><img src="assets/img/portfolio/5.jpg" alt="Virtuf-Portfolio"/></a>
              </div>
              <div class="portfolio-info">
                <div class="content">                    
                  <img class="shape-line-img" src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                  <h3 class="title"><a href="portfolio-details.html">Link Building Services</a></h3>
                  <a href="portfolio-details.html" class="category">Business / Marketing</a>
                </div>
                <a class="btn-icon" href="portfolio-details.html"><i class="icofont-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 portfolio-item filterMarketing digitalMarketing">
            <div class="inner-content">
              <div class="thumb">
                <a href="portfolio-details.html"><img src="assets/img/portfolio/6.jpg" alt="Virtuf-Portfolio"/></a>
              </div>
              <div class="portfolio-info">
                <div class="content">                    
                  <img class="shape-line-img" src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                  <h3 class="title"><a href="portfolio-details.html">Social Media Marketing</a></h3>
                  <a href="portfolio-details.html" class="category">Business / Marketing</a>
                </div>
                <a class="btn-icon" href="portfolio-details.html"><i class="icofont-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-footer text-center" data-aos="fade-up" data-aos-duration="1300">
          <a class="btn btn-theme btn-lg mb-1" href="portfolio.html">Load More</a>
        </div>
      </div>
    </section>
    <!--== End Portfolio Area ==-->

    <!--== Start Contact Divider Area ==-->
    <section class="contact-divider-area" data-bg-color="#f6f7fc">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-9 col-lg-8">
            <div class="contact-divider-content" data-aos="fade-up" data-aos-duration="1100">
              <div class="section-title">
                <div class="subtitle-content">
                  <img src="assets/img/shape/line1.png" alt="Virtuf-HasTech">
                  <h5>Contact Us.</h5>
                </div>
                <h2 class="title">Contact Us For Any Information of <span class="bottom-style">Company.</span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-4 sm-text-start text-end">
            <a href="contact.html" class="btn btn-theme" data-aos="fade-up" data-aos-duration="1100">Contact Now <i class="icon icofont-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="layer-shape">
        <img class="shape-style1" src="assets/img/shape/15.png" alt="Image-HasTech">
      </div>
    </section>
    <!--== End Contact Divider Area ==-->
  </main>
  <%- include('comm/footer') -%>