<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from template.hasthemes.com/virtuf/virtuf/services.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 31 Dec 2021 20:04:52 GMT -->
<%- include('comm/meta') -%>


<body>

<!--wrapper start-->
<div class="wrapper service-page-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
<%- include('comm/short-header') -%>

  <main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area" data-bg-img="assets/img/photos/bg-page-title.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content">
              <h2 class="title text-white">Services</h2>
              <div class="bread-crumbs"><img class="line-shape" src="assets/img/shape/line-s3.png" alt="Virtuf-HasTech"><a href="index.html">Home<span class="breadcrumb-sep">//</span></a><span class="active">Services</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-sidebar" data-aos="fade-right" data-aos-duration="1100">
        <div class="social-icon">
          <a href="#/"><i class="icofont-facebook"></i></a>
          <a href="#/"><i class="icofont-skype"></i></a>
          <a href="#/"><i class="icofont-twitter"></i></a>
        </div>
      </div>
      <div class="layer-shape">
        <img class="layer-shape-one" src="assets/img/shape/1.png" alt="Virtuf-Image">
        <img class="layer-shape-two" src="assets/img/shape/4.png" alt="Virtuf-Image">
        <img class="layer-shape-three" src="assets/img/shape/5.png" alt="Virtuf-Image">
        <img class="layer-shape-four" src="assets/img/shape/3.png" alt="Virtuf-Image">
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Service Area ==-->
    <section class="service-area">
      <div class="container">
        <div class="row icon-box-style1">
          <div class=" col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="icon-box-item">
              <div class="icon-box">
                <img class="icon-img" src="assets/img/icons/s1.png" alt="Icon">
              </div>
              <div class="content">
                <div class="separator-line">
                  <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                </div>
                <h4>Web Development</h4>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry has been the industry's standard.</p>
                <a href="service-details.html" class="btn-link">Read More <i class="icon icofont-arrow-right"></i></a>
              </div>
              <div class="icon-shape">
                <img class="shape-img1" src="assets/img/shape/s1.png" alt="Icon">
                <img class="shape-img2" src="assets/img/shape/s2.png" alt="Icon">
                <img class="shape-img3" src="assets/img/shape/s3.png" alt="Icon">
              </div>
            </div>
          </div>
          <div class=" col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="icon-box-item">
              <div class="icon-box">
                <img class="icon-img" src="assets/img/icons/s2.png" alt="Icon">
              </div>
              <div class="content">
                <div class="separator-line">
                  <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                </div>
                <h4>Market Analysis</h4>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry has been the industry's standard.</p>
                <a href="service-details.html" class="btn-link">Read More <i class="icon icofont-arrow-right"></i></a>
              </div>
              <div class="icon-shape">
                <img class="shape-img1" src="assets/img/shape/s1.png" alt="Icon">
                <img class="shape-img2" src="assets/img/shape/s2.png" alt="Icon">
                <img class="shape-img3" src="assets/img/shape/s3.png" alt="Icon">
              </div>
            </div>
          </div>
          <div class=" col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="icon-box-item">
              <div class="icon-box">
                <img class="icon-img" src="assets/img/icons/s3.png" alt="Icon">
              </div>
              <div class="content">
                <div class="separator-line">
                  <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                </div>
                <h4>Brand Identity</h4>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry has been the industry's standard.</p>
                <a href="service-details.html" class="btn-link">Read More <i class="icon icofont-arrow-right"></i></a>
              </div>
              <div class="icon-shape">
                <img class="shape-img1" src="assets/img/shape/s1.png" alt="Icon">
                <img class="shape-img2" src="assets/img/shape/s2.png" alt="Icon">
                <img class="shape-img3" src="assets/img/shape/s3.png" alt="Icon">
              </div>
            </div>
          </div>
          <div class=" col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1100">
            <div class="icon-box-item">
              <div class="icon-box">
                <img class="icon-img" src="assets/img/icons/s4.png" alt="Icon">
              </div>
              <div class="content">
                <div class="separator-line">
                  <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                </div>
                <h4>Business Consultation</h4>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry has been the industry's standard.</p>
                <a href="service-details.html" class="btn-link">Read More <i class="icon icofont-arrow-right"></i></a>
              </div>
              <div class="icon-shape">
                <img class="shape-img1" src="assets/img/shape/s1.png" alt="Icon">
                <img class="shape-img2" src="assets/img/shape/s2.png" alt="Icon">
                <img class="shape-img3" src="assets/img/shape/s3.png" alt="Icon">
              </div>
            </div>
          </div>
          <div class=" col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1100">
            <div class="icon-box-item">
              <div class="icon-box">
                <img class="icon-img" src="assets/img/icons/s5.png" alt="Icon">
              </div>
              <div class="content">
                <div class="separator-line">
                  <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                </div>
                <h4>SEO Marketing</h4>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry has been the industry's standard.</p>
                <a href="service-details.html" class="btn-link">Read More <i class="icon icofont-arrow-right"></i></a>
              </div>
              <div class="icon-shape">
                <img class="shape-img1" src="assets/img/shape/s1.png" alt="Icon">
                <img class="shape-img2" src="assets/img/shape/s2.png" alt="Icon">
                <img class="shape-img3" src="assets/img/shape/s3.png" alt="Icon">
              </div>
            </div>
          </div>
          <div class=" col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1100">
            <div class="icon-box-item">
              <div class="icon-box">
                <img class="icon-img" src="assets/img/icons/s6.png" alt="Icon">
              </div>
              <div class="content">
                <div class="separator-line">
                  <img src="assets/img/shape/line-s1.png" alt="Virtuf-HasTech">
                </div>
                <h4>UX & UI Design</h4>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry has been the industry's standard.</p>
                <a href="service-details.html" class="btn-link">Read More <i class="icon icofont-arrow-right"></i></a>
              </div>
              <div class="icon-shape">
                <img class="shape-img1" src="assets/img/shape/s1.png" alt="Icon">
                <img class="shape-img2" src="assets/img/shape/s2.png" alt="Icon">
                <img class="shape-img3" src="assets/img/shape/s3.png" alt="Icon">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Service Area ==-->

    <!--== Start Contact Divider Area ==-->
    <section class="contact-divider-area" data-bg-color="#f6f7fc">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-9 col-lg-8">
            <div class="contact-divider-content" data-aos="fade-up" data-aos-duration="1100">
              <div class="section-title">
                <div class="subtitle-content">
                  <img src="assets/img/shape/line1.png" alt="Virtuf-HasTech">
                  <h5>Contact Us.</h5>
                </div>
                <h2 class="title">Contact Us For Any Information of <span class="bottom-style">Company.</span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-4 sm-text-start text-end">
            <a href="contact.html" class="btn btn-theme" data-aos="fade-up" data-aos-duration="1100">Contact Now <i class="icon icofont-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="layer-shape">
        <img class="shape-style1" src="assets/img/shape/15.png" alt="Image-HasTech">
      </div>
    </section>
    <!--== End Contact Divider Area ==-->
  </main>
  <%- include('comm/footer') -%>