<header class="header-area header-default sticky-header transparent">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 pr-0">
          <div class="header-logo-area">
            <a href="/">
              <img class="logo-main" src="assets/img/watermaths_Logo.png" alt="Logo" />
              <img class="logo-light" src="assets/img/watermaths_Logo.png" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-9 col-md-9 col-lg-10">
          <div class="header-align">
            <div class="header-navigation-area navigation-style-two">
              <ul class="main-menu nav justify-content-center">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="has-submenu"><a href="/services">Services</a>
                  <ul class="submenu-nav">
                    <li><a href="/services">Services</a></li>
                    <li><a href="/service-details">Service Details</a></li>
                  </ul>
                </li>
                <li class="has-submenu active"><a href="/portfolio">Project</a>
                  <ul class="submenu-nav">
                    <li><a href="/portfolio">Projects</a></li>
                    <li><a class="text-theme-color" href="/portfolio-details">Projects Details</a></li>
                  </ul>
                </li>
                <li class="has-submenu"><a href="//">Pages</a>
                  <ul class="submenu-nav">
                    <li><a href="/blog">Blog Grid</a></li>
                    <li><a href="/blog-details">Blog Single</a></li>
                    <li><a href="/page-not-found">404 Page</a></li>
                  </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
            <div class="header-action-area">
              <button class="btn-menu d-xl-none">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <a class="btn-theme btn-style" href="/">Get A Free Trial <i class="icon-style icofont-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->
